<!DOCTYPE html>
<html>
<head>
    <title>Start</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <a class="button" href="/signup">register</a>
    <a class="button" href="/signin">login</a>
</div>
</body>
</html>