<!DOCTYPE html>
<html>
<head>
    <title>ResultOfUpload</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h2>{{result}}</h2>
    <a href="/uploadpage">Back</a>
    <a href="/logout">logout</a>
</div>
</body>
</html>